h2 {
  background: $primary-color;
  background-color: $primary-color;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
}

h3 {
  color: $primary-color;
  font-weight: bold;
  text-transform: uppercase;
}

table.button {
  text-transform: uppercase;
}

.blog-post-image,
.blog-post-excerpt {
  vertical-align: bottom !important;
}

th.callout-inner {
  border: none !important;

  p {
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  img {
    margin: 0 auto;
  }
}

p.footer-text {
  color: $primary-color;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}