h2 {
  background: $primary-color;
  background-color: $primary-color;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
}

h3 {
  color: $primary-color;
  font-weight: bold;
  text-transform: uppercase;
}

table.button {
  text-transform: uppercase;
}

.blog-post-image,
.blog-post-excerpt {
  vertical-align: bottom !important;
}

.warning th {
  background: $warning-color;
  background-color: $warning-color;
}

.secondary th {
  background: $secondary-color;
  background-color: $secondary-color;
}

.primary {
  background: $primary-color;
  background-color: $primary-color;
}

.warning img,
.secondary img,
.primary img {
  margin: 0 auto;
}

.warning h3,
.secondary h3,
.primary h3 {
  color: $white;
  text-align: center;
}