<container>
  <h2>Don't Miss These Posts</h2>
  <spacer size="20"></spacer>
  <row>
    <columns small="12" large="6" class="blog-post-image">
      <img src="/assets/img/post_1.png" class="thumbnail">
    </columns>
    <columns small="12" large="6" class="blog-post-excerpt">
      <h3>Lago Maggiorea, Italy</h3>
      <p>
        Fusce quis commodo purus. Praesent a pharetra nunc, vitae tincidunt lorem. Integer pretium vulputate lacus, a
        aliquet dui pellentesque
      </p>
      <button href="#">Read more</button>
    </columns>
  </row>

  <row>
    <columns small="12" large="6" class="blog-post-image">
      <img src="/assets/img/post_2.png" class="thumbnail">
    </columns>
    <columns small="12" large="6" class="blog-post-excerpt">
      <h3>Things to do in Toronto</h3>
      <p>
        Fusce quis commodo purus. Praesent a pharetra nunc, vitae tincidunt lorem. Integer pretium vulputate lacus, a
        aliquet dui pellentesque
      </p>
      <button href="#">Read more</button>
    </columns>
  </row>
</container>