<container>
  <h2>Featured Post of the Week</h2>
  <spacer size="20"></spacer>
  <row>
    <columns>
      <center>
        <img src="/assets/img/featured_post.png" class="thumbnail">
      </center>
    </columns>
  </row>

  <row>
    <columns small="0" large="1"></columns>
    <columns small="12" large="10">
      <h3 class="text-center">Visit Madrid, Spain this Summer</h3>
      <p class="text-center">
        Morbi id magna consectetur, sagittis felis quis, hendrerit justo. Praesent rhoncus ornare lorem, vel tempus
        elit tincidunt sit amet. In nisi erat, feugiat id scelerisque non, auctor nec dui. Etiam sagittis, neque vel
        condimentum condimentum, quam felis.
      </p>
    </columns>
    <columns small="0" large="1"></columns>
  </row>
  <spacer size="10"></spacer>
  <row>
    <columns>
      <center>
        <button href="#">Read More</button>
      </center>
    </columns>
  </row>
</container>