<container>
  <h2>Quick Tips For Your Travel</h2>
  <spacer size="15"></spacer>
  <row>
    <columns small="12" large="4">
      <callout class="warning">
        <spacer size="35"></spacer>
        <img src="/assets/img/icon_1.png">
        <spacer size="30"></spacer>
        <h3>Prepare your baggage</h3>
        <spacer size="25"></spacer>
      </callout>
    </columns>
    <columns small="12" large="4">
      <callout class="secondary">
        <spacer size="35"></spacer>
        <img src="/assets/img/icon_2.png">
        <spacer size="30"></spacer>
        <h3>Get your camera ready</h3>
        <spacer size="25"></spacer>
      </callout>
    </columns>
    <columns small="12" large="4">
      <callout class="primary">
        <spacer size="35"></spacer>
        <img src="/assets/img/icon_3.png">
        <spacer size="30"></spacer>
        <h3>Check your passport expiration date</h3>
        <spacer size="25"></spacer>
      </callout>
    </columns>
  </row>
</container>